* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon\ logo.jpeg);
    background-size: 115px 60px;
    height: 50px;
    width: 100%; 
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.deliever{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.adress{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icons{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    width: 650px;
    height: 45PX;
    border-radius: 3px;
}
.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}
span{
    font-size: 0.7rem;
}
.navsigninsecond{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-search:hover {
    border: 2px solid orange;
}
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
    margin-left: 15px;   
}
.panel-options {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url(Hero-Amazon.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.one{
    margin-bottom: 15px;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul p{
    color: #dddddd;
    font-weight: 700;
    font-size: 1.2rem;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #37475a;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    background-image: url(amazon\ logo.jpeg);
    background-size: cover;
    height: 45px;
    width: 110px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 20px;
}
.copyright{
    font-size: 0.8rem;
    font-weight: 700;
}
